// Specific CSS for your home-page
<<<<<<< HEAD
h1 {
  text-align: center;
  color: $light-beige;
  font-size: 100px;
}

.logo-type {
  font-family: $logo-font
}
.title {
  padding: 20px 20px;
  background-color: $purple;
}
.book-title {
  text-transform: capitalize;
}
.book-author {
  text-transform: capitalize;
}
.book-extract {
  font-style: italic;
}
=======
// html {
//   height: 100%;
//   box-sizing: border-box;
// }

// body {
//   position: relative;
//   margin: 0;
//   min-height: 100%;
//   padding-bottom: 6.74rem;
//   box-sizing: inherit;
// }

// main {
//   width: 80%;
//   margin: 0 auto;
//   padding-top: 32px;
// }
>>>>>>> d41927185bc782505ac6e385a68689f97eae155a
