h1 {
  text-align: center;
  color: $brown;
  font-size: 50px;
}
.logo-type {
  font-family: $logo-font
}
.title {
  padding: 20px 20px;
  background-color: $purple;
}
.book-title {
  text-transform: capitalize;
  font-weight: 600;
  padding-top: 10px;
}
.book-author {
  text-transform: capitalize;
}
.book-extract {
  font-style: italic;
  padding-top: 5px;
}

.content {
  margin: 40px;
  align-items: center;
}
.intro {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
}