<div class="title"><h1>Welcome to </h1><h1 class="logo-type">Book a Book</h1></div>
<div class="card-product">
  <div class="container">
    <h2 class="text-center">Here are some of the amazing books you can rent with book a book!</h2>
    <div class="cards">
      <div class="card">
        <%= image_tag "fom_erth_to_the_moon.jpeg", class: "card-img", alt: "Le Wagon" %>
        <h4 class="book-title">Fom Earth to the Moon</h4>
        <h5 class="book-author">Jules Verne</h5>
        <p class="book-extract">From the Earth to the Moon concerns a group of obsessive American Civil War veterans, members of the Baltimore Gun Club, who conceive the idea of creating an enormous cannon in order to shoot a “space-bullet” to the Moon from a site in Florida.</p>
        <p class="book-rental-price">€2</p>
      </div>
      <div class="card">
        <%= image_tag "harry_potter_and_the_deathly_hollow.jpeg", class: "card-img", alt: "Le Wagon" %>
        <h4 class="book-title">harry potter and the deathly hollow</h4>
        <h5 class="book-author">J K Rolling</h5>
        <p class="book-extract">“I have been careless, and so have been thwarted by luck and chance, those wreckers of all but the best-laid plans. But I know better now. I understand those things that I did not understand before. I must be the one to kill Harry Potter, and I shall be.”</p>
        <p class="book-rental-price">€2.5</p>
      </div>
      <div class="card">
        <%= image_tag "the_subtle_art_of_not_giving_a_fuck.jpeg", class: "card-img", alt: "Le Wagon" %>
        <h4 class="book-title">the subtle art of not giving a fuck</h4>
        <h5 class="book-author">Mark Manson</h5>
        <p class="book-extract">The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life is a 2016 nonfiction self-help book by American blogger and author Mark Manson.</p>
        <p class="book-rental-price">€1.8</p>
      </div>
    </div>
  </div>
</div>
