<h1>Welcome to Book-a-Book</h1>
<div class="card-product">
  <div class="container">
    <h2 class="text-center">Here are some of the amazing books you can rent with book a book!</h2>
    <div class="cards">
      <div class="card">
        <%= image_tag "fom_erth_to_the_moon.jpeg", class: "card-img", alt: "Le Wagon" %>
        <h4>Apply</h4>
        <p>First apply to one of our campuses around the world.</p>
      </div>
      <div class="card">
        <%= image_tag "harry_potter_and_the_deathly_hollow.jpeg", class: "card-img", alt: "Le Wagon" %>
        <h4>Learn to code</h4>
        <p>Learn Ruby on Rails, Javascript, SQL &amp; much more!</p>
      </div>
      <div class="card">
        <%= image_tag "the_subtle_art_of_not_giving_a_fuck.jpeg", class: "card-img", alt: "Le Wagon" %>
        <h4>Build products</h4>
        <p>Finally you will be able to bring your ideas to life.</p>
      </div>
    </div>
  </div>
</div>
