<h1>Welcome to Book-a-Book</h1>
<h2> Here are some of the amazing books you can rent with book a book!</h2>
<div class="container">
  <div class="cards">
    <div class="card">
      <img src="images/group.jpg" alt="">
      <h3>Friendship</h3>
      <p>Arrive as strange, leave as friends</p>
    </div>
    <div class="card">
      <img src="images/eating.jpg" alt="">
      <h3>Dinners</h3>
      <p>Community dinners every night. *YummY*</p>
    </div>
    <div class="card">
      <img src="images/bike-ride.jpg" alt="">
      <h3>Bike Rides</h3>
      <p>Imagine riding a bike by the beach *.*</p>
    </div>
  </div>
</div>
