<h2>This is the Index Page</h2>
<<<<<<< HEAD
<h2>Books!</h2>
<ul>
  <% @books.each do |book| %>
    <li><%= book.title %></li>
    <li><%= book.author %></li>
    <li><%= book.genre%></li>
=======
<ul>
  <% @books.each do |book| %>
    <li><%= book.title %></li>
>>>>>>> c5cc0235e67fad229b45113a6853aaf40d4e3476
  <% end %>
</ul>
