.navbar-lewagon {
  justify-content: space-between;
  background: $light-beige;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 50%;
  margin-left: 20px;
  padding-left: 20px;
  flex-grow: 0;
}
.navbar-nav me-auto {
  align-items: baseline;
}
.hello  {
  flex-grow: 0;
  color: $purple;
  align-self: middle;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  align-items: baseline;
}

.dropdown-menu dropdown-menu-end {
  text-transform: capitalize;
}